/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


.page {
  display: grid;
  padding-inline: var(--padding-inline-section);
  padding-block: var(--padding-block-page);
  color: var(--text-color);
  font-family: var(--main-font-family), sans-serif;
  background-color: var(--bg-page-color);
  background-image: var(--gradient-horizontal), var(--gradient-vertical), var(--gradient-transition-color);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-family);
}

.header {
  display: grid;
  justify-self: center;
  align-self: center;
  margin-block-end: var(--header-margin-block);
  border: var(--border);
  font-family: var(--accent-font-family);
  background-color: var(--header-bg-color);
  inline-size: 100%;
  max-inline-size: var(--sections-inline-size);
}

.header__content {
  display: grid;
  justify-items: center;
  gap: var(--header-gap);
  padding-block: var(--header-content-padding-block);
  font-weight: var(--header-font-weight);
}

.header__title {
  font-weight: inherit;
  font-size: var(--header-title-font-size);
}

.header__subtitle {
  font-size: var(--header-text-font-size);
  text-transform: uppercase;
}

.cards__section {
  display: grid;
  justify-self: center;
  gap: var(--sections-gap);
  max-inline-size: var(--sections-inline-size);
}

.card__list {
  display: grid;
  gap: var(--card-list-gap);
}

.card__item {
  border: var(--border);
  font-size: var(--main-font-size);
  background-color: var(--card-item-bg-color);
}

.card__title {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  padding-block: 4px;
  font-size: inherit;
  line-height: 1.25;
  font-variation-settings: 'wght' 700;
  text-wrap: wrap;
}

.card__image_container {
  position: relative;
  border-block: var(--border);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__image-lable {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--color-label-text);
  font-family: var(--accent-font-family);
  font-size: var(--label-font-size);
  text-shadow: 
  1px 0px var(--color-label-shadow), 
  -1px 0px var(--color-label-shadow),
  0px 1px var(--color-label-shadow), 
  0px -1px var(--color-label-shadow);
  inset-block-start: 23px;
  inset-inline-end: 11px;
  mix-blend-mode: hard-light;
}

@supports(text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__image-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
  }
}

.card__description_container {
  display: grid;
  gap: var(--description-container-gap);
  padding-inline: var(--padding-description-container);
  padding-block: var(--padding-description-container);
  line-height: 1.17;
  font-variation-settings: 'wght' 400;
}

.buttons__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  padding-inline: var(--padding-description-container);
  padding-block-end: var(--padding-description-container);
  font-size: var(--button-font-size);
}

.card__icon-button {
  --button-block-size: 34px;
  border: none;
  padding: unset;
  outline-color: transparent;
  transition: outline 0.3s ease;
  block-size: var(--button-block-size);
  inline-size: 39px;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.card__icon-button:active .core {
  fill: var( --animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var( --animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
  
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s 1;
  animation-iteration-count: 1;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.like-icon {
  block-size: var(--button-block-size);
}

.card__like-button {
  font-family: var(--accent-font-family);
  block-size: var(--button-block-size);
  inline-size: 130px;
}

.buttons-style {
  position: relative;
  border: var(--border);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.buttons-style:focus {
  outline: none;
}

.buttons-style:focus-visible {
  box-shadow: 2px 2px var(--accent-color);
  outline: none;
}

.buttons-style::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--button-animation-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.buttons-style:hover::before {
  transform: scaleX(1);
} 

.button__save {
  display: grid;
  justify-items: center;
  justify-self: center;
  gap: 8px;
  padding-block: 15px;
  font-size: var(--button-font-size);
  background-color: var(--button-bg-color);
  inline-size: 310px;
  block-size: 84px;
}

.button__text {
  color: var(--difference-color);
  font-family: var(--accent-font-family);
  mix-blend-mode: difference;
}

.floppy__icon {
  --floppy-size: 28px;
  z-index: 1;
  color: var(--difference-color);
  block-size: var(--floppy-size);
  inline-size: var(--floppy-size);
  mix-blend-mode: difference;
}

dialog[open] {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: var(--dialog-gap);
  border: var(--border);
  padding: 30px 38px;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
}


dialog::backdrop {
  background-color: var(--backdrop-dialog);
}

.dialog__content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--dialog-content-gap);
}

.floppy__icon-dialog {
  align-self: center;
  block-size: var(--floppy-size);
  inline-size: var(--floppy-size);
}

.dialog__text {
  font-family: var(--accent-font-family);
  font-size: var(--dialog-font-size);
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__button {
  text-transform: uppercase;
  inline-size: 257px;
  block-size: var(--button-block-size);
}

.filter-brightness {
  filter: brightness(0.5);
}

.filter-blur {
  filter: blur(0.15rem);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(150%);
}

.filter-hue-rotate {
  filter: hue-rotate(30deg);
}

.filter-sepia {
  filter: sepia(40%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-multiple {
  filter: blur(0.07rem) brightness(0.9);
}

@media (width >= 900px) {
  .header__content {
    --header-content-padding-block: 128px;
    padding-block: var(--header-content-padding-block);
  }

  .card__title {
    display: block;
    align-content: center;
  }
  
  .button__save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    block-size: 55px;
    inline-size: 335px;
  }

  .floppy__icon {
    --floppy-size: 21px;
  }
}



